<h1> search.ejs </h1>

 <form class="" action="/results" method="GET">
   <input type="text" placeholder="Search Term" name="search" value="">
   <input type="submit" name="s" value="submit">
 </form>
